gradio==6.14.0
langchain
langchain-openai
langchain-community
langchain-huggingface
langchain-tavily
langchain-text-splitters
langchain-core
faiss-cpu
sentence-transformers
pypdf
python-dotenv
ddgs
certifi
openai